

section{
  width: 100%;
  overflow: hidden;
}
.i_slide{
  max-width: 1740px;
  margin-left: 100px;
  padding: 50px 20px;
  background-color: beige;
}

.i_slide .box{
  height: 300px;
  background-color: sandybrown;
  margin-right: 20px;
}

@media screen and (max-width:575px) {
  .i_slide{
    margin-left: 0;
  }
  
}